{% extends 'base.html.twig' %}

{% block title %}Santrest!{% endblock %}

{% block body %}

<div class="container">
    {# flash message #}
    <h1 class="text-center">{{pluralize(sants|length,"Sant", "Sants")}}</h1>
    <div class="row mt-4">
    {% for sant in sants %}
         <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ (sant.imageName ? vich_uploader_asset(sant) : asset('uploads/images/placeholder.png')) | imagine_filter('style_meduim') }}" alt="{{ sant.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ sant.title }}</h5>
                    {# <p class="card-text">{{ sant.description | u.truncate(20, '...', false) }}</p> #}
                    <p class="card-text"><small class="text-muted">created {{sant.createdAt|ago}}</small></p>
                    <a href="{{ path('app_sant_show',{id: sant.id}) }}" class="stretched-link text-decoration-none"></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {{ include ("./partials/pagination.html.twig")}}
</div>
{% endblock %}
